/* Just want to get stuff in CSS*/
body {
    background-color:#ffeef8;
}

.grid-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 50%;
    row-gap: 1em;
    border-style: solid;
    background-color:#ffe2f3;
    border-color:white;
    border-width: 4px;
}

.searchbar{
    grid-column: 1/1;
}

.main-title {
    width: 50%;
}
p.intro {
    width: 45%;
}

.quote {
    width: 75%;
}

.contact-form {
    width: 75%
}

.princess-caroline {
    width: 35%;
    float: right;
    padding: 10px;
    overflow:hidden;
    top: 15%;
    position: absolute;
    right: 10%;
}

/* All of this CSS will apply to About Page*/

.my-life {
    width: 75%;
}

.hobbies{
    width: 75%;
}

.side-links {
    float: right;
    position: sticky;
    top: 10%;
    width: 15%;
    padding-left:10px;
}