/* Just want to get stuff in CSS*/
body {
    background-color:aliceblue;
}

.grid-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 50%;
    row-gap: 1em;
}

a {
    background-color: white;
}
.searchbar{
    grid-column: 1/1;
    background-color: white;
}

.main-title {
    width: 50%;
}
p.intro {
    width: 45%;
}

.quote {
    width: 75%;
}

.contact-form {
    width: 75%
}


.princess-caroline {
    width: 35%;
    float: right;
    padding: 10px;
    overflow:hidden;
    top: 15%;
    position: absolute;
    right: 10%;
}


